.modal-backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 25000;
}

.main-modal {
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 12px;
	padding: 1.5rem;
	width: min(800px, 90vw);
	max-height: 80vh;
	overflow: auto;
	position: relative;
}

/*フェードイン*/
.fade-in {
	animation: fadeIn 0.2s ease forwards;
}

/*フェードアウト*/
.fade-out {
	animation: fadeOut 0.2s ease forwards;
}

/*モーダルの拡大アニメーション*/
.pop-in {
	animation: popIn 0.2s ease forwards;
}

.pop-out {
	animation: popOut 0.2s ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes popIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes popOut {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.95);
	}
}

@media (max-width: 600px) {
	.main-modal {
		min-width: 100%;
		min-height: 70%;
		margin-top: auto;
		margin-bottom: 0;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
